$yellow: #ffcc05;
$white: #fff;
$black: #000;
$dark: #0E1623;
$grey: #c8c8c8;
$darken: #0a0e15;
$gray: rgba(255, 255, 255, 0.8);
$darkest: #0F1B33;

$btn: #222831;

// font
$font-size-small: 10px;
$font-size-base: 12px;
$font-size-normal: 14px;
$font-size-large: 18px;
$font-size-larger: 20px;
