$yellow: #ffcc05;
$white: #ffffff;
$dark: #0E1623;
// modal
.header .toolbar__content {
	background-color: #0a0e15;
	text-align: center;
	.toolbar__title {
			color: #ffcc05;
			width: 100%;
	}
}
.left {
	float: left
}