// modal
.header .toolbar__content {
	background-color: #0a0e15;
	text-align: center;
	.toolbar__title {
			color: #ffcc05;
			width: 100%;
	}
}
.card__text, .card__actions {
	background-color: #0E1623
}
