
// modal
@import 'variables';
@import 'layout';
@import 'pages/detail';
.header .toolbar__content {
	background-color: #0a0e15;
	text-align: center;
	.toolbar__title {
    color: #ffcc05;
    width: 100%;
	}
}
.left {
	float: left
}
body {
  a {
    text-decoration: none;
    color: white;
  }
}
.tabs__items {
  margin-top: 30px;
}

.card__title, .card__actions {
  justify-content: center;
}
.card__title {
  border-bottom: 1px solid #c8c8c8;
  font-size: 18px;
  padding: 3px;
}
.item-card .shorten-text {
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  background-color: #0F1B33 !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 45px;
  padding: 5px 8px;
  white-space: normal;
}
.item-card {
  background-color: #0F1B33 !important;
  border: 1px solid $grey;
  border-radius: 5px;
}
.item-card .btn {
  border-radius: 26px;
  background-color: #FFF !important;
  color: $dark;
  font-size: 13px;
  font-weight: 600;
  height: 30px;
}
.item-card .btn:hover {
  background-color: $yellow !important;
  color: $dark;
}
.item-card .price-card {
  padding: 5px 5px 0;
  font-size: 20px;
  color: $yellow;
}
.btn__content:before {
  opacity: 0;
}
.registed.item-card {
  border: none;
}
.registed .card__title{
  background: $yellow;
  border: 1px solid yellow;
  color: $black;
}
.registed .price-card{
  background-color: $white;
  color: $black;
  font-weight: 600;
}
.registed .shorten-text {
  background-color: $white !important;
  color: $black;
}
.registed .card__actions {
  background-color: $white !important;
}
.registed .btn {
  background: $yellow!important;
  color: $black;
}
.item-card .card__actions {
  padding-bottom: 15px;
}
.registed.item-card .card__text {
  background-color: $white;
  color: $black;
  font-weight: bold;
}